
$navy : #0a192f;
$dark-navy : #020c1b;
$light-navy : #112240;
$lightest-navy: #233554;
$navy-shadow : rgba(2,12,27,0.7);
$dark-slate : #495670;
$slate: #8892b0;
$light-slate: #a8b2d1;
$lightest-slate: #ccd6f6;
$white : #e6f1ff;
$violet : #6474e5;
$violet-tint :  rgba(100,116,229, 0.1);
$font-sans : 'Calibre', 'Inter', 'Poppins', sans-serif;
$font-mono : 'SF Mono', 'Source Code Pro', monospace;
$font-xxs: 12px;
$font-xs: 13px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-xxl: 22px;
$font-heading: 32px;
$border-radius: 4px;
$nav-height: 100px;
$nav-scroll-height : 70px;
$tab-height: 42px;
$tab-width: 120px;
$easing : cubic-bezier(0.645,0.045,0.355,1);
$transition : all 0.25s cubic-bezier(0.645,0.045,0.355,1);
$ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
$ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
$ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
$ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;



*, ::before, ::after {
    box-sizing: inherit;
}/* for using seperate files, you have to import @import './header' 
make the seperate file _header.scss */
html {
    scrollbar-color: $dark-slate $navy;
}
body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: $navy;
    color: $slate;
    font-family: $font-sans;
    font-size: $font-xl;
    line-height: 1.3;
    counter-reset: section;

    @media (max-width: 480px) {
        font-size: $font-lg;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 10px;
    font-weight: 600;
    color: $lightest-slate;
    line-height: 1.1;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: $transition;
}

p {
    margin: 0px 0px 15px;
}

section {
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
    @media (max-width: 768px) {
        padding: 80px 0px;
    }
    @media (max-width: 480px) {
        padding: 60px 0px;
    }
    
}

#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // @media (max-width: 480px) {
    //     padding: 0px 25px;
    // } making everything line up except navbar
}



// #header {
//     @media (max-width: 768px) {
//         padding: 0px 25px;
//     }
//     @media (max-width: 1080px){
//         padding: 0px 40px;
//     }
// }

.nav-header {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 95%;
    height: $nav-height;
    background-color: rgba(10, 25, 47, 0.85);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    backdrop-filter: blur(10px);
    transition: $transition;
    height: $nav-scroll-height;
    transform: translateY(0px);
    background-color: rgba(10, 25, 47, 0.85);
    box-shadow: 0 10px 30px -10px $navy-shadow;
    @media (max-width: 1080px) {
        padding: 0px 40px;
    }
    @media (max-width: 768px) {
        padding: 0px 25px;
    }
    @media (max-width: 486px) {
        width: 83%;
    }

}



// @media (prefers-reduced-motion: no-preference) {
//     .nav-header {
//         height: $nav-scroll-height;
//         transform: translateY(calc($nav-scroll-height * -1));
//         box-shadow: 0 10px 30px -10px $navy-shadow;
//     }
// }

.nav {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: $lightest-slate;
    font-family: $font-mono;
    counter-reset: item 0;
    z-index: 12;
    @media (max-width: 786px) {
        
    }
}
.logo {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    vertical-align: middle;
}

.nav-side {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    @media (max-width: 768px) {
        display: none;
    }

    ol {
        display: flex;
        -moz-box-align: center;
        justify-content: space-between;
        -moz-box-pack: justify;
        
        align-items: center;
        padding: 0px;
        margin: 0px;
        list-style: none;
    }
    & li {
        margin: 0px 5px;
        position: relative;
        counter-increment: item 1;
        font-size: $font-xs;
        a {
            padding:  10px;
            
        }
        & a:hover {
            color: $violet;
        }
        & a::before {
            content: '0' counter(item) '.';
            margin-right: 5px;
            color: $violet;
            font-size: $font-xxs;
            text-align: right;
        }
    }
   
    & .resume-button{
        color: $violet;
        background-color: transparent;
        border: 1px solid $violet;
        border-radius: $border-radius;
        padding: 12px 16px;
        font-family: $font-mono;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: $transition;
        margin-left: 15px;
        font-size: $font-xs;
    }
    & .resume-button:hover {
        background-color: rgba(100, 116, 229, 0.3);
    }
}

.social-side {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: $lightest-slate;
    @media (max-width : 480px) {
        display: none;
    }
}

.social-list {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    
    li a {
        padding: 10px;
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: $transition;
        
    }
    & a:hover {
        color: $violet;
        }
    
}

.social-list::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #ccd6f6;
    color: #a8b2d1;
}

.right-side {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    @media (max-width : 480px) {
        display: none;
    }
}

.back-to-top {
    background-color: $violet;
    border: none;
    border-radius: 15px;
    height: 60px;
    width: 50px;
    color: #fff;   
    padding: 12px 16px;
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 30px;
    visibility: visible;
    box-sizing: border-box;
    cursor: pointer;
}

.opening {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    padding: 0px;
    //margin-left: 80px;
    // @media (max-height: 700px) and (min-width: 700px), (max-width: 360px) {
    //     height: auto;
    //     padding-top: $nav-height;
    //   }
    p {
        max-width: 600px;
        margin: 20px 0px 0px;
        font-size: $font-xl;
        line-height: 1.6;
    }
    & .big-heading {
        margin: 0px;
        margin-bottom: 20px;
        font-size: clamp(40px, 8vw, 80px);
    }
    & b {
        color: $violet;
    }
    & div {
        align-self: center;
    }
}



.social-media a{
    color: $white;
    & i {
        font-size: 42px;
        margin: 20px 10px;
    }
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  

.fas {
    color: #fff;
}

// .fa-github {
//     color:#e6f1ff;
// }


.about-me {
    max-width: 900px;
    // margin: 0px auto;
    // padding: 100px 0px;
//    @media (max-width: 768px) {
//             padding: 80px 0px;
//           }
//           @media (max-width: 480px) {
//             padding: 60px 0px;
//         }
    .inner {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 50px;
        @media (max-width: 768px) {
            display: block;
        }
        p {
            margin: 20px 0px 0px;
            max-width: 540px;
            
        }
    }
    em {
        color: $violet;
    }
    .fa-brands {
        color: $violet;
    }
    
}




.num-header {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,$font-heading);
    white-space: nowrap;
    &::before {
        position: relative;
        bottom: 4px;
        counter-increment: section 1;
        content: "0" counter(section) ".";
        margin-right: 10px;
        color: $violet;
        font-family: $font-mono;
        font-size: clamp($font-md,3vw,$font-xl);
        font-weight: 400;
    }
    &::after {
        content: "";
        display: block;
        position: relative;
        top: -5px;
        width: 300px;
        height: 1px;
        margin-left: 20px;
        background-color: $lightest-navy;
    }
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(80px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
    li {
        position: relative;
    margin-bottom: 10px;
    // padding-left: 20px;
    font-family: $font-mono;
    font-size: $font-sm;
    text-align: center;
    }
    p {
        margin: 10px 0px 0px !important;
    }
}

.icon-text {
    font-size: $font-xxs;
}

// .fa-brands {
//     color: $violet;
// }

.fa-solid {
    color: $violet;
}
.skills-text {
    font-size: $font-lg;
}
.mypic {
    position: relative;
    max-width: 300px;
    @media (max-width: 768px) {
        margin: 30px auto 0px;
        
        img {
           width: 330px;
            height: 356.4px; 
        }
      }
    
}

.work {
    max-width: 700px;
    margin: 0px auto;
    padding: 100px 0px;
    .inner {
        min-height: 340px;
        display: flex;
        @media(max-width: 600px) {
            display: block;
        }
    }
    & .tabs {
        position: relative;
        z-index: 3;
        width: max-content;
        padding: 0px;
        margin: 0px;
        list-style: none;
        @media (max-width: 600px) {
            display: flex;
            overflow-x: auto;
            width: calc(100% + 100px);
            padding-left: 50px;
            margin-left: -50px;
            margin-bottom: 30px;
        }
        @media (max-width: 480px) {
            width: calc(100% + 50px);
            padding-left: 25px;
            margin-left: -25px;
        }
    }
    & button {
        cursor: pointer;
        border: 0px none;
        border-left-color: currentcolor;
        border-left-style: none;
        border-left-width: 0px;
        border-radius: 0px;
        @media (max-width: 768px) {
            padding: 0px 15px 2px;
        }
        @media (max-width: 600px) {
            display: flex;
            -moz-box-pack: center;
            justify-content: center;
            -moz-box-align: center;
            align-items: center;
            min-width: 120px;
            padding: 0px 15px;
            border-left: 0px none;
            border-bottom: 2px solid $lightest-navy;
            text-align: center;
        }
    }
}

.tabs-button {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); 
    display: flex;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0px 20px 2px;
    border-left: 2px solid $lightest-navy;
    background-color: transparent;
    color: $slate;
    font-family: $font-mono; 
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
    :hover {
        background-color: rgba(100, 116, 229, 0.3);
        color: $violet;
    }
}

[aria-selected ="true"] {
    color: #6474e5;
}
.job-scroll {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 2px;
    height: 42px;
    border-radius: 4px;
    background: #6474e5;
    transform: translateY(calc(0 * $tab-height));
    transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
    @media (max-width: 600px) {
        top: auto;
        bottom: 0px;
        width: 100%;
        max-width: $tab-width;
        height: 2px;
        margin-left: 50px;
        transform: translateX(calc(0 * $tab-width));
    }
    @media (max-width: 480px) {
        margin-left: 25px;
    }
}
/* fix the scroll thingy to work */
::selection {
    background-color: $lightest-navy;
    color: $lightest-slate;
}

.panels {
    position: relative;
    width: 100%;
    margin-left: 20px;
    @media (max-width:600px) {
        margin-left: 0px;
    }
    .all-panels {
        width: 100%;
        height: auto;
        padding: 10px 5px;  
        h3 {
            margin-bottom: 2px;
            font-size: 22px;
            font-weight: 500;
            line-height: 1.3;
            .company {
                color: $violet;
            }
        }
        & .range {
            margin-bottom: 25px;
            color: $lightest-slate;
            font-size: 13px;
        }
        & ul {
            padding: 0px;
            margin: 0px;
            list-style: none;
            font-size: 18px;
            li {
                position: relative;
                padding-left: 30px;
                margin-bottom: 10px;
            }
            & li::before {
                content: "▹";
                position: absolute;
                left: 0px;
                color: $violet;
            }
        }
    }
}

.featured-projects {
    max-width: 1000px;
    margin: 0px auto;
    padding: 100px 0px;
}

.featured {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.featured-list {
    position: relative;
    -moz-box-align: center;
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    @media (max-width: 768px) {
        box-shadow: 0 10px 30px -15px $navy-shadow;
    }
    &:not(:last-of-type){
        margin-bottom: 100px;
        @media (max-width: 768px) {
            margin-bottom: 70px;
        }
        @media (max-width: 480px) {
            margin-bottom: 30px;
        }
    }
    & a {
        color: $white;
        text-decoration: none;
        &:hover {
            color: $violet;
            text-decoration: none;
        }
    }
    & .project-content {
        grid-area: 1 / 1 /-1 / 7;
        position: relative;
        
        @media(max-width: 1080px){
            grid-column: 1 / 9;
        }
        @media(max-width: 768px){
            display: flex;
            flex-direction: column;
            -moz-box-pack: center;
            justify-content: center;
            height: 100%;
            grid-column: 1 / -1;
            padding: 40px 40px 30px;
            z-index: 5;
        }
        @media(max-width: 480px){
            padding: 30px 25px 20px;
        }
    }
    & .project-overline {
        margin: 10px 0px;
        color: $violet;
        font-family: $font-mono; 
        font-size: 13px;
        font-weight: 400;
    }
    & .project-title {
        margin: 0px 0px 20px;
        font-weight: 600;
        font-size: clamp(24px, 5vw, 28px);
        color: $white;
        line-height: 1.1;
    }
    & .project-description {
        box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
        position: relative;
        z-index: 2;
        padding: 25px;
        border-radius: 4px;
        background-color: $light-navy; 
        color: $light-slate;
        @media (max-width: 768px) {
            padding: 20px 0px;
            background-color: transparent;
            box-shadow: none;
        }
    }
    & .project-language-list {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;
        margin: 25px 0px 10px;
        padding: 0px;
        list-style: none;
        @media (max-width: 768px) {
            margin: 10px 0px;
        }
        li {
            color: $lightest-slate;
            white-space: nowrap;
            margin: 0px 20px 5px 0px;
            font-size: 13px;
        }
    }
    & .project-links {
        display: flex;
        -moz-box-align: center;
        align-items: center;
        position: relative;
        margin-top: 10px;
        /* margin-left: -10px; */
        color: $lightest-slate;
    }
    & .project-image {
        box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    /* transition: var(--transition); */
        grid-area: 1 / 6 / -1 / -1; 
        position: relative;
        z-index: 1;
        @media (max-width: 768px) {
            grid-column: 1 / -1;
            height: 100%;
            opacity: 0.25;
        }
        img {
            border-radius: $border-radius;
            mix-blend-mode: multiply;
            //filter: grayscale(100%) contrast(1) brightness(90%);
            @media(max-width: 768px) {
                object-fit: cover;
                width: auto;
                height: 100%;
                filter: grayscale(100%) contrast(1) brightness(50%);
            }
            @media (max-width: 480px) {
                width: 351px !important;
            }
            
        }
    }
}

.featured-list:nth-of-type(2n+1) {
    .project-content{   
        text-align: right;
        grid-column: 7 / -1;
        @media(max-width: 1080px) {
            grid-column: 5 / -1;
        }
        @media(max-width: 786px) {
            grid-column: 1 / -1;
            padding: 40px 40px 30px;
            text-align: left;
        }
        @media(max-width: 480px) {
            padding: 25px 25px 20px;
        }
    }

    & .project-language-list {
        -moz-box-pack: end;
        justify-content: flex-end;
        @media (max-width: 768px) {
            -moz-box-pack: start;
            justify-content: flex-start;
        }
        li {
            margin: 0px 0px 5px 20px;
        }
        
    }
    & .project-links {
        -moz-box-pack: end;
        justify-content: flex-end;
        margin-left: 0px;
        margin-right: -10px;
        color: $lightest-slate;
        @media(max-width: 768px) {
            -moz-box-pack: start;
            justify-content: flex-start;
            margin-left: -10px;
            margin-right: 0px;
        }
        a {
            display: flex;
            -moz-box-pack: center;
            justify-content: center;
            -moz-box-align: center;
            align-items: center;
            padding: 10px;
        }
    }
    & .project-image {
        grid-column:  1 / 8;
        @media (max-width: 768px) {
            grid-column: 1 / -1;
        }
        img {
            border-radius: $border-radius;
            mix-blend-mode: multiply;
            //filter: grayscale(100%) contrast(1) brightness(90%);
            @media(max-width: 768px) {
                object-fit: cover;
                width: auto;
                height: 100%;
                filter: grayscale(100%) contrast(1) brightness(50%);
            }
            
        }
    }
    
}

.project-icon {
    color: #e6f1ff;
    font-size: 24px;
}
.project-icon:hover {
    color: #6474e5;
}
// beginning of other projects css
.other-projects {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
    box-sizing: border-box;
}

.project-top {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    margin-bottom: 35px;
    a {
        text-decoration: none;
        color:$lightest-slate;
    }
} 

    
    .project-grid {
        list-style: none;
        padding: 0px;
        margin: 50px 0px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 15px;
        position: relative;      
        }        

.project-title a {
    text-decoration: none;
    color:$lightest-slate;
}
.other-list-items {
    position: relative;
    cursor:pointer;
    .project-inner {
        box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        -moz-box-align: center;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        height: 100%;
        padding: 2rem 1.75rem;
        border-radius: 4px;
        background-color: $light-navy;
        transition: $transition;
        
        overflow: auto;
        
    }
    &:hover h3 a {
        color: $violet;
    }
    & .project-top .project-links{
        display: flex;
        -moz-box-align: center;
        align-items: center;
        margin-right: -10px;
        color: $light-slate;
    }
    & .project-title {
        margin: 0px 0px 10px;
        color: $lightest-slate;
        font-size: $font-xxl;
        font-weight: 600;
    }
    & .project-desc {
        color: $light-slate;
        font-size: 17px;
    }
    & .project-tech-list {
        display: flex;
        align-items: flex-end;
        -moz-box-flex: 1;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: 0px;
        margin: 20px 0px 0px;
        list-style: none;
        ::before, ::after{
            box-sizing: border-box;
        }
        & li {
            font-size: $font-xs;
            line-height: 1.75;
            &:not(:last-of-type){
                margin-right: 15px;
            }
        }
    }
}
p:last-child , p:last-of-type {
    margin: 0px;
}

.contact {
    max-width: 600px;
    margin: 0px auto 100px;
    text-align: center;
    .email-link {
        color: $violet;
        background-color: transparent;
        border: 1px solid $violet;
        border-radius: 4px;
        padding: 1.25rem 1.75rem;
        font-size: 20px;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        margin-top: 50px;
    }
    & a {
        display: inline-block;
        position: relative;
        &:hover {
            background-color: rgba(100, 116, 229, 0.3);
        }
    }
    & .num-header{
        font-size: $font-xl;
        color: $violet;
        
        justify-content: center;
        &::after {
            all:revert;
        }
    }
    
}



/*new css for responsive menu*/
.small-menu {
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}
.ham-button {
    display: none;
    @media (max-width: 768px) {
        display: flex;
        -moz-box-pack: center;
        justify-content: center;
        -moz-box-align: center;
        align-items: center;
        position: relative;
        z-index: 10;
        margin-right: -15px;
        padding: 15px;
        border: 0px none;
        background-color: transparent;
        color: inherit;
        text-transform: none;
        transition-timing-function: linear;
        transition-duration: 0.15s;
        transition-property: opacity, filter;
        cursor: pointer;
    }
    &:focus:not(:focus-visible) {
        outline: none;
        outline-offset: 0px;
      }
}
.ham-button-clicked {
    display: none;
    @media (max-width: 768px){
      display: flex;
      -moz-box-pack: center;
      justify-content: center;
      -moz-box-align: center;
      align-items: center;
      position: relative;
      z-index: 10;
      margin-right: -15px;
      padding: 15px;
      border: 0px none;
      background-color: transparent;
      color: inherit;
      text-transform: none;
      transition-timing-function: linear;
      transition-duration: 0.15s;
      transition-property: opacity, filter;
      &:focus:not(:focus-visible) {
        outline: none;
        outline-offset: 0px;
      }
      & .nav-menu-inner{
        position: absolute;
        top: 50%;
        right: 0px;
        width: 30px;
        height: 2px;
        border-radius: 4px;
        background-color: $violet;
        transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
        transform: rotate(225deg);
        &::before {
            width: 100%;
            top: 0px;
            opacity: 0;
            transition: $ham-before-active;
            content: "";
            display: block;
            position: absolute;
            left: auto;
            right: 0px;
            width: 30px;
            height: 2px;
            border-radius: 4px;
            background-color: $violet;
            transition-timing-function: ease;
            transition-duration: 0.15s;
            transition-property: transform;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            left: auto;
            right: 0px;
            width: 30px;
            height: 2px;
            border-radius: 4px;
            background-color: $violet;
            transition-timing-function: ease;
            transition-duration: 0.15s;
            transition-property: transform;
            width: 100%;
            bottom: 0px;
            transform: rotate(-90deg);
            transition: $ham-after-active;
        }
      }
      
}
}

.nav-menu {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 24px;
    // @media (max-width: 786px) {
    //     position: relative;
    // z-index: 10;
    // margin-right: -15px;
    // padding: 15px;
    // border: 0;
    // background-color: transparent;
    // color: inherit;
    // text-transform: none;
    // transition-timing-function: linear;
    // transition-duration: 0.15s;
    // transition-property: opacity, filter;
    // }
}

.nav-menu-inner {
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 2px;
    border-radius: $border-radius;
    background-color: $violet;
    transition-duration: 0.22s;
    transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
    transform: rotate(0deg);
    
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: auto;
        right: 0px;
        width: 30px;
        height: 2px;
        border-radius: 4px;
        background-color: $violet;
        transition-timing-function: ease;
        transition-duration: 0.15s;
        transition-property: transform;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: auto;
        right: 0px;
        width: 30px;
        height: 2px;
        border-radius: 4px;
        background-color: $violet;
        transition-timing-function: ease;
        transition-duration: 0.15s;
        transition-property: transform;
    }
    
}

.nav-menu-inner::before {
        
        width: 120%;
        top: -10px;
        opacity: 1;
        transition: $ham-before;
}
.nav-menu-inner::after {
    
    width: 80%;
    bottom: -10px;
    transform: rotate(0deg);
    transition: $ham-after;
}

// main {
//     margin: 0px auto;
// width: 100%;
// max-width: 1600px;
// min-height: 100vh;
// padding: 200px 100px;
// @media (max-width: 480px) {
//     padding: 125px 25px;
// }
// @media (max-width: 768px){
//     padding: 150px 50px;
// }
// @media (max-width: 1080px){
//     padding: 200px 100px;
// }
// }
main.fillHeight {
    padding: 0px 150px;
    @media (max-width: 1080px) {
        padding: 0px 100px;
    }
    @media (max-width: 768px) {
        padding: 0px 50px;
    }
    @media (max-width: 480px) {
        padding: 0px 25px;
    }   
}

.side-menu {
    display: none;
    @media (max-width: 768px){
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 50px 10px;
    width: min(75vw, 400px);
    height: 100vh;
    outline: 0px;
    background-color: $light-navy;
    box-shadow: -10px 0px 30px -15px $navy-shadow;
    z-index: 9;
    transform: translateX(100vw);
    visibility: hidden;
    transition: $transition;
    }
}
.side-menu-opened {
    @media (max-width: 768px){
        display: flex;
        -moz-box-pack: center;
        justify-content: center;
        -moz-box-align: center;
        align-items: center;
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        padding: 50px 10px;
        width: min(75vw, 400px);
        height: 100vh;
        outline: 0px;
        background-color: $light-navy;
        box-shadow: -10px 0px 30px -15px $navy-shadow;
        z-index: 9;
        transform: translateX(0vw);
        visibility: visible;
        transition: $transition;
        }
    & .side-nav {
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        -moz-box-align: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        color: $lightest-slate;
        font-family: $font-mono;
        text-align: center;
    }
    & .side-list {
        padding: 0px;
        margin: 0px;
        list-style: none;
        width: 100%;
        li {
            position: relative;
            margin: 0px auto 20px;
            counter-increment: item 1;
            font-size: clamp($font-sm,4vw,$font-lg);
            @media (max-width: 600px) {
                margin: 0px auto 10px;
                &::before {
                    content: "0" counter(item) ".";
                    display: block;
                    margin-bottom: 5px;
                    color: $violet;
                    font-size: $font-sm;
                }
            }
        }
        & a {
            display: inline-block;
            text-decoration: none;
            text-decoration-skip-ink: auto;
            color: inherit;
            position: relative;
            transition: $transition;
            width: 100%;
            padding: 3px 3px 20px;
        }
        
    }
}
.resume-link {
    color: $violet;
    background-color: transparent;
    border: 1px solid $violet;
    border-radius: $border-radius;
    font-size: $font-sm;
    font-family: $font-mono;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: $transition;
    padding: 18px 50px;
    margin: 10% auto 0px;
    width: max-content;
}

.side-menu-opened nav {
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        -moz-box-align: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        color: $lightest-slate;
        font-family: $font-mono;
        text-align: center;
}
